* {
    box-sizing: border-box;
    color: #ffdca3;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;


}
h2{
    color:black;
    font-style: italic;
}

p {
    background:black;
    border-radius: 150px;
    padding:30px 40px;
    
    
}
header {
    font-family: 'Audiowide', cursive;
    width: 100%;
    font-weight: 15px;

}

body {
    width: 100%;
    background: #3d7bb3;
    display: flex;
    flex-direction: column;

    align-items: center;



}
.menu{
    display:none;
}

img{
    margin-bottom:20px;
}
button:hover {
    cursor: pointer;
}



.icon-bar a {
margin:0px;
    width: 30%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease; 
    
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}


.icon-bar {
    margin: 0px;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
 
    background-color: #555;
    /* overflow: auto; */
    color: white;
}

button{
    color:black;
    margin-bottom:20px;
}

button:hover{
    transform:scale(1.2);
    
}
@media screen and (min-width:320px) {
    main {
        text-align: center;
    }

    #about-me {
        background:none;
        margin-bottom: 100px;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }

    body {
        align-items:center;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
        overflow:auto;
    }

    img {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    header {
        text-align: center;
    }

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #project1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #project2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    button {
        border-radius: 100px;
        background: white;

    }

}


@media screen and (min-width:768px) {
    .menu {
        display: none;
    }

    body {
        widows: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }



    header {
font-weight:bolder;
        display: flex;
        flex-direction: row;
        /* text-align:center; */
        justify-content: space-around;
        align-content: baseline;
        align-items: baseline;
        /* margin-left:auto;
    margin-right:auto; */
    }

    p {
        text-align: center;
    }

    #quiz-mobile {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }









    .projects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*body{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }*/
}


@media screen and(max-width:1600px) {
    body {
        width: 70%;
        margin-right: 200px;
    }

    .projects {
        width: 60%;

    }
}